In [2]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('avocado.csv',index_col='Unnamed: 0')

In [42]:
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [43]:
df['year'].count()

18249

# Visualising Columns
## Here is a list of 3 different methods to print the name of the columns:
1. *.count()*
2. *.dtypes*
3. using list comprehension

## You can also use *.info()* or *.describe()*, which will give you some useful insights on the dataset, showing also the name of the columns

In [44]:
#count returns the number of values per column (hence printin the column names)
df.count()

Date            18249
AveragePrice    18249
Total Volume    18249
4046            18249
4225            18249
4770            18249
Total Bags      18249
Small Bags      18249
Large Bags      18249
XLarge Bags     18249
type            18249
year            18249
region          18249
dtype: int64

In [3]:
#dtypes prints the types of entried in the columns, also printing the columns
df.dtypes

Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [4]:
#we can print the columns using a for loop
[print(col) for col in df.columns]

Date
AveragePrice
Total Volume
4046
4225
4770
Total Bags
Small Bags
Large Bags
XLarge Bags
type
year
region

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18249 entries, 0 to 11
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  object
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   4046          18249 non-null  float64
 4   4225          18249 non-null  float64
 5   4770          18249 non-null  float64
 6   Total Bags    18249 non-null  float64
 7   Small Bags    18249 non-null  float64
 8   Large Bags    18249 non-null  float64
 9   XLarge Bags   18249 non-null  float64
 10  type          18249 non-null  object
 11  year          18249 non-null  int64
 12  region        18249 non-null  object
dtypes: float64(9), int64(1), object(3)
memory usage: 1.9+ MB

In [4]:
df.describe()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [45]:
df['year'].value_counts()

2017    5722
2016    5616
2015    5615
2018    1296
Name: year, dtype: int64

In [31]:
df.groupby('region')['Total Volume'].sum()

region
Albany                 1.606780e+07
Atlanta                8.860512e+07
BaltimoreWashington    1.347139e+08
Boise                  1.441319e+07
Boston                 9.727398e+07
BuffaloRochester       2.296247e+07
California             1.028982e+09
Charlotte              3.555554e+07
Chicago                1.337023e+08
CincinnatiDayton       4.452201e+07
Columbus               2.999336e+07
DallasFtWorth          2.084193e+08
Denver                 1.389025e+08
Detroit                6.342242e+07
GrandRapids            3.021174e+07
GreatLakes             5.896425e+08
HarrisburgScranton     4.180886e+07
HartfordSpringfield    5.067054e+07
Houston                2.031679e+08
Indianapolis           3.026339e+07
Jacksonville           2.879000e+07
LasVegas               5.437691e+07
LosAngeles             5.078965e+08
Louisville             1.609700e+07
MiamiFtLauderdale      9.767322e+07
Midsouth               5.083494e+08
Nashville              3.561209e+07
NewOrleansMobile       4.569514e+07
NewYork                2.407341e+08
Northeast              7.132809e+08
NorthernNewEngland     7.153289e+07
Orlando                5.866070e+07
Philadelphia           7.183880e+07
PhoenixTucson          1.956433e+08
Pittsburgh             1.880635e+07
Plains                 3.111885e+08
Portland               1.105522e+08
RaleighGreensboro      4.820273e+07
RichmondNorfolk        4.223085e+07
Roanoke                2.504201e+07
Sacramento             7.516375e+07
SanDiego               8.979192e+07
SanFrancisco           1.358302e+08
Seattle                1.092142e+08
SouthCarolina          6.075377e+07
SouthCentral           1.011280e+09
Southeast              6.152384e+08
Spokane                1.556528e+07
StLouis                3.207283e+07
Syracuse               1.094267e+07
Tampa                  6.600454e+07
TotalUS                5.864740e+09
West                   1.086779e+09
WestTexNewMexico       1.445218e+08
Name: Total Volume, dtype: float64

In [48]:
df.groupby('type')['Total Volume','year'].sum()

              Total Volume      year
type
conventional  1.508722e+10  18399366
organic       4.361817e+08  18393317

In [49]:
df.groupby('region')['AveragePrice'].mean().sort_values(ascending=True)[:20]

region
Houston             1.047929
DallasFtWorth       1.085592
SouthCentral        1.101243
CincinnatiDayton    1.209201
Nashville           1.212101
LosAngeles          1.216006
Denver              1.218580
PhoenixTucson       1.224438
Roanoke             1.247929
Columbus            1.252781
WestTexNewMexico    1.261701
West                1.272219
Detroit             1.276095
Louisville          1.286686
RichmondNorfolk     1.291331
NewOrleansMobile    1.304793
Indianapolis        1.313994
Portland            1.317722
TotalUS             1.319024
Atlanta             1.337959
Name: AveragePrice, dtype: float64

In [50]:
#total of small bags, large and xl as percentage of total bags in the whole dataset
for col in df.columns:
    if "Bags" in col:
        print (col)
        print ('tot = ',df[col].sum())

Total Bags
tot =  4373175798.389999
Small Bags
tot =  3324870837.51
Large Bags
tot =  991615770.5500001
XLarge Bags
tot =  56689177.32999999

In [51]:
df['month'] = pd.DatetimeIndex(df['Date']).month

In [52]:
df

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,month
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,12
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,12
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,12
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,12
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico,2
8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico,1
9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico,1
10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico,1
11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico,1

In [53]:
df.groupby(['year','month'])['Total Volume'].sum()

year  month
2015  1        3.180852e+08
      2        3.626376e+08
      3        4.185831e+08
      4        3.441444e+08
      5        4.837840e+08
      6        3.818267e+08
      7        3.567019e+08
      8        4.192448e+08
      9        3.292188e+08
      10       3.057761e+08
      11       3.694400e+08
      12       2.960259e+08
2016  1        4.754058e+08
      2        4.286458e+08
      3        3.912124e+08
      4        4.018328e+08
      5        5.612305e+08
      6        4.103282e+08
      7        4.672753e+08
      8        3.707970e+08
      9        3.623033e+08
      10       3.602018e+08
      11       2.602093e+08
      12       3.314478e+08
2017  1        5.333330e+08
      2        4.714672e+08
      3        3.589034e+08
      4        4.898145e+08
      5        4.257305e+08
      6        4.104107e+08
      7        4.749037e+08
      8        3.383330e+08
      9        2.847795e+08
      10       3.627780e+08
      11       3.245193e+08
      12       4.593329e+08
2018  1        4.297071e+08
      2        4.977782e+08
      3        4.552531e+08
Name: Total Volume, dtype: float64

In [54]:
#show mean and sum together with agg
df.groupby(['year','month'])['Total Volume'].agg(['mean','sum'])

                    mean           sum
year month
2015 1      7.363084e+05  3.180852e+08
     2      8.394389e+05  3.626376e+08
     3      7.751538e+05  4.185831e+08
     4      7.966305e+05  3.441444e+08
     5      8.958964e+05  4.837840e+08
     6      8.838582e+05  3.818267e+08
     7      8.256988e+05  3.567019e+08
     8      7.763793e+05  4.192448e+08
     9      7.620806e+05  3.292188e+08
     10     7.078151e+05  3.057761e+08
     11     6.841482e+05  3.694400e+08
     12     6.868351e+05  2.960259e+08
2016 1      8.803810e+05  4.754058e+08
     2      9.922357e+05  4.286458e+08
     3      9.055843e+05  3.912124e+08
     4      9.301684e+05  4.018328e+08
     5      1.039316e+06  5.612305e+08
     6      9.498337e+05  4.103282e+08
     7      8.653247e+05  4.672753e+08
     8      8.583263e+05  3.707970e+08
     9      8.386650e+05  3.623033e+08
     10     6.670404e+05  3.602018e+08
     11     6.023364e+05  2.602093e+08
     12     7.672402e+05  3.314478e+08
2017 1      9.876538e+05  5.333330e+08
     2      1.091359e+06  4.714672e+08
     3      8.307949e+05  3.589034e+08
     4      9.070639e+05  4.898145e+08
     5      9.854874e+05  4.257305e+08
     6      9.544434e+05  4.104107e+08
     7      8.794513e+05  4.749037e+08
     8      7.831782e+05  3.383330e+08
     9      6.592119e+05  2.847795e+08
     10     6.718110e+05  3.627780e+08
     11     7.512021e+05  3.245193e+08
     12     8.506164e+05  4.593329e+08
2018 1      9.946923e+05  4.297071e+08
     2      1.152264e+06  4.977782e+08
     3      1.053827e+06  4.552531e+08

In [3]:
#group by time using resample. NOTE: it requires the date to be the index
dft = pd.read_csv('avocado.csv',index_col='Date')
dft.index = pd.to_datetime(dft.index)

In [10]:
#group by 2 weeks, and calculate mean
dft.resample('2W').mean()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Date,,,,,,,,,,,
2015-01-04,5507,140.54,8.467434e+07,33098258.74,36851038.43,2278818.64,12446221.39,9910008.90,2485655.90,50556.59,217620
2015-01-18,10690,298.27,1.569446e+08,62826871.85,64470471.77,4557418.00,25089829.70,20901790.53,4123418.13,64621.04,435240
2015-02-01,10258,285.57,1.959195e+08,82598121.83,79625352.85,5765868.17,27930173.47,22454150.60,5326805.31,149217.56,435240
2015-02-15,9826,291.39,1.623083e+08,68935286.96,62940152.72,4254748.41,26178081.14,22366769.09,3742011.11,69300.94,435240
2015-03-01,9394,288.76,1.703109e+08,69851679.69,67918591.55,5387890.27,27152776.50,23165319.07,3809690.46,177766.97,435240
...,...,...,...,...,...,...,...,...,...,...,...
2018-01-28,1836,299.09,2.268822e+08,74936613.33,72340099.74,4034374.69,75570277.47,55907235.33,18786154.18,876887.96,435888
2018-02-11,1404,274.44,2.867555e+08,98095232.62,88265146.36,4576652.54,95817218.08,68103103.78,26421615.29,1292499.01,435888
2018-02-25,972,295.24,2.110227e+08,71260810.54,58947863.08,3449629.56,77361702.87,56231809.42,19750167.10,1379726.35,435888
2018-03-11,540,290.01,2.233101e+08,74695183.88,61767836.58,3452743.73,83391791.03,63604181.65,18382510.51,1405098.87,435888
2018-03-25,108,287.34,2.319429e+08,72723954.48,64208918.46,3798824.64,91207829.91,68817364.87,20876476.06,1513988.98,435888

In [11]:
#group by month and count rows (entries)
dft.resample('M').count()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-03-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-04-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-05-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-06-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-07-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-08-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-10-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-11-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-12-31,431,431,431,431,431,431,431,431,431,431,431,431,431
2016-01-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-02-29,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-04-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-05-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-06-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-07-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-10-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-11-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-12-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-01-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-04-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-05-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-06-30,430,430,430,430,430,430,430,430,430,430,430,430,430
2017-07-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-10-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-11-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-12-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2018-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432

In [12]:
#the date entry is actually the ending of the time period (i.e. the month from the 1st of april until the 1st of May will have the index 1st of May)
# we can change this using label left
dft.resample('M', label='left').count()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2014-12-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-02-28,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-04-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-05-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-06-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-07-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-10-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-11-30,431,431,431,431,431,431,431,431,431,431,431,431,431
2015-12-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-02-29,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-04-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-05-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-06-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-07-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-09-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-10-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-11-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-12-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-03-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-04-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-05-31,430,430,430,430,430,430,430,430,430,430,430,430,430
2017-06-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-07-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-09-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-10-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-11-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-12-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432

In [39]:
dft.groupby([pd.Grouper(freq=('M'),label='left'),'region'])['Total Volume'].sum()

Date        region
2014-12-31  Albany                 1.765180e+05
            Atlanta                1.728320e+06
            BaltimoreWashington    2.883524e+06
            Boise                  2.743618e+05
            Boston                 1.748752e+06
                                       ...
2018-02-28  Syracuse               3.754490e+05
            Tampa                  2.260110e+06
            TotalUS                1.725214e+08
            West                   3.029377e+07
            WestTexNewMexico       3.724699e+06
Name: Total Volume, Length: 2106, dtype: float64

In [28]:
dfm = dft.groupby('region', as_index = False)['Total Volume'].sum()

In [37]:
dfm

                   region  Total Volume
0                  Albany  1.765180e+05
1                 Atlanta  1.728320e+06
2     BaltimoreWashington  2.883524e+06
3                   Boise  2.743618e+05
4                  Boston  1.748752e+06
...                   ...           ...
2101             Syracuse  3.754490e+05
2102                Tampa  2.260110e+06
2103              TotalUS  1.725214e+08
2104                 West  3.029377e+07
2105     WestTexNewMexico  3.724699e+06

[2106 rows x 2 columns]

# Merge, Join, Concatenate df

In [10]:
# in this example, we have a problem using concatenate, we get some extra entries
import pandas as pd
import numpy as np
df =pd.read_csv("titanic.csv",index_col='PassengerId')
df = df.drop(['Cabin','Name','Ticket'], axis=1)
df.dropna(subset=['Embarked'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

In [11]:
#we have 889 entires. after the one hot the encoded df has also 889 entries
from sklearn.preprocessing import LabelBinarizer, OneHotEncoder, StandardScaler
oh = LabelBinarizer()
df_sex = df[['Sex']]
df_emb = df[['Embarked']]
df_s_oh = oh.fit_transform(df_sex)
df_emb_oh = oh.fit_transform(df_emb)
df_oh = np.hstack((df_s_oh,df_emb_oh))
df_oh = pd.DataFrame(df_oh)
df_oh.shape

(889, 4)

In [12]:
# but if we merge them with concatenate, we will get extra entries
df = df.drop(['Sex','Embarked'],axis=1)

result = pd.concat([df, df_oh], axis=1, sort=True)

In [13]:
result.shape

(892, 10)

In [14]:
#we will get the samre result whether we use concat with sort true or false. In this case we can just concat as numpy arrays and then define a new dataframe using the old column names
result = pd.DataFrame(np.hstack([df,df_oh]))
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       889 non-null    float64
 1   1       889 non-null    float64
 2   2       712 non-null    float64
 3   3       889 non-null    float64
 4   4       889 non-null    float64
 5   5       889 non-null    float64
 6   6       889 non-null    float64
 7   7       889 non-null    float64
 8   8       889 non-null    float64
 9   9       889 non-null    float64
dtypes: float64(10)
memory usage: 69.6 KB

In [15]:
# rename columns using list
cols = list(df)
new_cols = ['Gender','Emb_S','Emb_C','Emb_Q']
new_ = cols+new_cols
result.columns = new_
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    float64
 1   Pclass    889 non-null    float64
 2   Age       712 non-null    float64
 3   SibSp     889 non-null    float64
 4   Parch     889 non-null    float64
 5   Fare      889 non-null    float64
 6   Gender    889 non-null    float64
 7   Emb_S     889 non-null    float64
 8   Emb_C     889 non-null    float64
 9   Emb_Q     889 non-null    float64
dtypes: float64(10)
memory usage: 69.6 KB

In [ ]:
# rename only some of the columns
# df.rename(columns=dict(zip(df.columns[1:], new_cols)),inplace=True)
# this will rename starting from the column with index 1 (aka the second column), leaving the first as it is

In [16]:
# filter columns based on type, select only numerical or non numerical columns,
import pandas as pd
import numpy as np
df =pd.read_csv("titanic.csv",index_col='PassengerId')
df_num = df.select_dtypes(exclude='object')
df_cat = df.select_dtypes(include='object')
df_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 48.7 KB

In [18]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      891 non-null    object
 1   Sex       891 non-null    object
 2   Ticket    891 non-null    object
 3   Cabin     204 non-null    object
 4   Embarked  889 non-null    object
dtypes: object(5)
memory usage: 41.8+ KB